<!DOCTYPE html>
<html lang="en" style="font-family: 'Electrolize', sans-serif;">

<head>
	<title>Brijesh Krishna</title>
	<meta charset="utf-8">
	<meta content="My view" name="description">
	<meta content="Brijesh" name="author">
	<meta name="viewport" content="width=1024">
       
        <link rel="icon" type="image/x-icon" href="static/imgs/favicon.webp">
	<link href="static/style.css" rel="stylesheet">
</head>

<body data-offset="100" data-spy="scroll" data-target="#top-navbar">
	<div class="container-fluid home" id="home" style="align-items: center;">
		<div class="background container-fluid"
			style="background-image:url({{img_id}});width: 100%;height: 100%;background-size: cover;"></div>
		<div class="container content text-center">
			<img alt="#" class="rounded-circle mx-auto d-block img-fluid" onmouseover="move()"
				src="static/imgs/favicon.webp" style="background-color: rgb(43, 39, 39);" onmouseleave="remove()">

			<h1 class="greeting" id="texter" style="font-family: 'Electrolize', sans-serif;"> 👋 Hi , I am
				<strong>Brijesh</strong></h1>

		</div>
	</div>
	<div style="font-family: Courier New,Courier; color: white;margin-left: 80%;font-size: 11px;padding-left: 88px;">
		0.0000000000018613769% changes that u get same image next time
	</div>
	<div class="diver">
		<div class="certifi" style="padding-bottom: 15px; padding-top: 50px; padding-left: 4%; background:#1e1e20;">
			<b style="font-size: 35px;color:antiquewhite;font-family: 'Electrolize', sans-serif;">About me</b>
			<br>
			<br>
			<div class="c-des" style="font-family: Courier New,Courier; color: white;">
				I'm Brijesh krishna ,a programmer based in India 🇮🇳
				currently studing CS in SIT
			</div>

			<hr>
		</div>
		<div style="background:#1e1e20;padding-top: 45px; padding-left: 4%; padding-right:4%;">
			<br>
			<b style="font-size: 35px;color:antiquewhite;font-family: 'Electrolize', sans-serif;">Certifications</b>
			<hr>
			<table style=" width: 95%;">
				{% for data in cert_data['certificates'] %}
				<tbody>
					<tr>
						<td class="c-heading">{{data['date'] }}</td>
					</tr>
					<tr>
						<td class="c-main">{{data['name']}}</td>
						<td class="tdr"><button class="btn-certi" onclick="openTab(this)"
								style="background-color: chartreuse;"><a href="{{data['view']}}" rel="noreferrer"
									target="_blank">Certificate</a></button></td>
					</tr>
					<tr>
						<td class="c-des" style="font-family: Courier New,Courier; color: white;">{{data['from']}}</td>
					</tr>

				</tbody>
				{% endfor %}

			</table><br>
			<tbody>
				<tr>
					<img class="status_img"
						src='https://github-profile-trophy.vercel.app/?username=brijeshkrishna&theme=onedark&margin-w=10&margin-h=10'
						alt="profile trophy ">
				</tr>
			</tbody>
		</div>



		<div style="padding-bottom: 15px; padding-left: 4%; background:#1e1e20;">
			<br>
			<hr>
			<b style="font-size: 35px;color:antiquewhite;font-family: 'Electrolize', sans-serif;">Stats</b>
			<hr>
			<div style="padding-left:2.083%">


				<!-- <br><br>
				<img class="status_img"
					src='https://github-readme-streak-stats.herokuapp.com/?user=brijeshkrishna&theme=ads-juicy-fresh&date_format=j%20M%5B%20Y%5D' alt="readme streak stats">
				<br><br>
				<img class="status_img"
					src='https://github-readme-stats.vercel.app/api/top-langs/?username=brijeshkrishna&layout=compact&theme=aura' alt="top langs">
				<br><br> -->
				<img class="status_img"
					src='https://github-readme-stats.vercel.app/api?username=brijeshkrishna&theme=nightowl&show_icons=true&count_private=true'
					alt="github status">

			</div>

		</div>
		<div class="certifi" style="padding-bottom: 15px; padding-top: 50px; padding-left: 4%; background:#1e1e20;">

			<b style="font-size: 35px;color:antiquewhite;font-family: 'Electrolize', sans-serif;">Repos</b>
			<hr>
			<div style="padding-left:2.083%;" id="table-repos_list"></div>

		</div>


	</div>
	</div>
	<!-- 	<div style=" padding-left: 62px;padding-top:35px ;background-image:linear-gradient( #1e1e20 ,#006857, #1e1e20);">
		
		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" alt="bash"/>

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="linux"/>

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rust/rust-plain.svg" alt="rust"/>

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="python" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="github" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" alt="c" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="cp++" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/arduino/arduino-original.svg" alt="arduino" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/raspberrypi/raspberrypi-original.svg" alt="raspberrypi" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="docker" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ubuntu/ubuntu-plain.svg" alt="ubuntu" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="vscode" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="git" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/embeddedc/embeddedc-original.svg" alt="embedded c" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" alt="django" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg" alt="flask" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="css" />

		<img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg" alt="android" />
		<br>
		<br>

	</div> -->

	<!-- Footer -->
	</div>
	<footer class="container-fluid text-center align-content-center footer pb-2" style="background:#1e1e20">
		<div class="container pt-5"></div>
		<hr>
		<div class="container">
			<div class="row text-left">
				<div>
					<a href="https://github.com/Brijeshkrishna" id="footertitle" name='footertitle' target="_blank"
						style='color: #ffc107;'>Brijeshkrishna</a>
				</div>
			</div>
			<div>
				2021 All Rights Reserved ©
			</div>
		</div>
	</footer>
	<!-- Footer / -->
	<script src="static/script.js" type="text/javascript"></script>
	<link href="static/imgs/favicon.webp" rel="icon" type="image/png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

</body>

</html>
